POSTGRES_DB=accsaber
POSTGRES_USER=accsaber
POSTGRES_PASSWORD=changeme
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=changeme-generate-a-long-random-string
SERVICE_API_KEY=changeme-generate-an-api-key
GRAFANA_ADMIN_PASSWORD=changeme-stronk-password
